# Markdown
## sub header

- Bullet

# Python Data Structures

In [12]:
# Lists
mylist=[2,3,4,5,6,7,8,9,10,11,12]

In [13]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [14]:
type(mylist)

list

In [15]:
mylist2=[13,14,15,16,17,18,19,20]

In [21]:
mylist2

[13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
import numpy as np 
listnp = np.array(mylist)

In [25]:
type(listnp)

numpy.ndarray

In [26]:
mylist3 = ["Russ","The Rest"]

In [27]:
mylist3

['Russ', 'The Rest']

In [31]:
mylist+mylist2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [32]:
myaddedlist = []
for x in mylist:
    myaddedlist.append(x+x)

In [33]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [34]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [35]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

# Index in Python

In [40]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [41]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [43]:
mylist[-1]

12

In [48]:
mylist[0:-1]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [49]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Tuples ( Most uncommon Python Structure Command)

In [50]:
mytuple = (2,3,4,5,6,7,8,9,10,11,12)

In [51]:
mytuple

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [52]:
mytuple(3)

TypeError: 'tuple' object is not callable

In [57]:
mydictionary = {'FName': 'Russ', 'LName':'McCauley', 'Age' : '22'}

In [61]:
mydictionary

{'FName': 'Russ', 'LName': 'McCauley', 'Age': '22'}

In [63]:
mydictionary['FName']

'Russ'

In [67]:
nations = {'pop':[20,21,22]}

In [68]:
nations

{'pop': [20, 21, 22]}